.button-logout{
    background-color: #0e0d0d00;;
    border: none;
    color: #fff;
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark{
    background-color: #0e0d0d00 !important;
}

.container , .navbar-brand , .navbar-collapse , .navbar-toggler-icon {
        background-color: #0e0d0d00 !important;
}